body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
}

.container {
  width: 60%;
  margin: 50px auto;
  background: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

h2 {
  text-align: center;
  color: #e0e0e0;
}

.question {
  margin: 20px 0;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.1em;
  color: #e0e0e0;
}

input[type='number'] {
  width: 60px;
  padding: 8px;
  font-size: 1em;
  margin-bottom: 15px;
  background-color: #333;
  color: #e0e0e0;
  border: 1px solid #444;
  border-radius: 5px;
}

button {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #6200ea;
  color: #fff;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3700b3;
}

p {
  text-align: center;
  font-size: 1.2em;
  margin-top: 20px;
}

a {
  display: block;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  color: #bb86fc;
}

a:hover {
  text-decoration: underline;
}
